---
import Layout from "@/layouts/Layout.astro";
import MaintenanceComponent from "@/components/MaintenanceComponent.astro";
---

<Layout title="Dulces Remedios" description="Página en Mantenimiento">
    <main>
        <MaintenanceComponent />
    </main>
</Layout>
