---
import AnchorButton from '@/components/elements/AnchorButton.astro'
---

<section class="clear-both text-zinc-800 font-[quicksand] font-thin relative py-8 md:mt-64 flex flex-col md:flex-row items-center bg-back-pink w-full lg:w-[960px] mx-auto text-lg gap-8 text-center p-8 md:px-0">
    <img class="rounded-full w-3/5" src="/images/aboutus.jpg" alt="Manos de la repostera trabajando la decoracion de la tarta">
    <article class="flex flex-col">
        <h2 class="font-[quicksand] uppercase text-4xl text-main-brown mb-4">Sobre dulces remedios</h2>
        <p class="text-justify mb-3">Dulces Remedios era una idea modesta, la de crear un libro con todas mis recetas para dejárselo a mis hijas, hasta que mis catadoras especiales me animaron a compartir mi repostería con ustedes.</p>
        <p class="text-justify mb-3">Mi ingrediente especial es la pasión por la repostería y por compartirla con familia y amigos, por ello me he formado en repostería y pastelería con cursos técnicos como:</p>
        <ul class="list-disc ml-6 mb-3 text-left">
            <li>Elaboración de bombones</li>
            <li>Elaboración de masas hojaldradas para bollería</li>
            <li>Elaboración de panes para hostelería</li>
            <li>Elaboración de productos de bollería</li>
            <li>Panadería: nutrición y dietética del pan</li>
        </ul>
        <p class="text-justify mb-3">Si eres como yo, siempre con ganas de dulce, abre nuestra galería, que una imagen vale más que mil palabras.</p>
        <p class="text-justify mb-3">En mi casa el horno si está para bollos.</p>
        <p class="text-justify mb-4">¡Buen provecho!</p>

        <div class="mx-auto">

            <AnchorButton href="/products">Ver todos los productos</AnchorButton>
        </div>
        
    </article>
</section>