---
import AnchorButton from '@/components/elements/AnchorButton.astro'
---

<section class="relative w-full bg-[center_bottom_-10rem] bg-cover bg-[url('/backgrounds/ContactInfo.jpg')]">
    <div class="absolute inset-0 w-full h-full bg-opacity-70 bg-back-pink"></div>
    <div class="text-zinc-800 font-[quicksand] font-thin relative py-8 w-full lg:w-[960px] text-lg mx-auto text-center md:text-left">
        <article class="flex flex-col text-xl p-4 md:p-0 md:w-4/6 mt-4 mx-auto md:mx-0">
            <h2 class="font-[quicksand] uppercase text-4xl text-main-brown mb-4">¿Cómo puedes hacer tu pedido?</h2>
            <p class="md:text-justify mb-3">Puedes hacerlo en el teléfono <a class="text-sky-500 font-bold" href="tel:663183931">663 18 39 31 mediante llamada</a> o <a class="text-emerald-500 font-bold" href="https://wa.me/34663183931">vía Whatsapp</a> (María Remedios)</p>
            <p class="md:text-justify mb-3">También, a través del formulario de la <a class="text-sky-500 font-bold" href="/">sección de Contacto</a> de nuestra web</p>
            <p class="md:text-justify mb-3">Y no olvides que estamos todos los meses en el mercadillo de Jabugo donde podrás comprar nuestros productos por porción</p>
            <p class="md:text-justify text-main-brown font-bold mb-3 italic">Los encargos han de hacerse con un mínimo de 3 días de antelación</p>
        </article>
    </div>
</section>