---
import AnchorButton from '@/components/elements/AnchorButton.astro'
---

<section class="text-zinc-800 bg-back-pink font-[quicksand] font-thin py-8 w-full lg:w-[960px] text-lg mx-auto flex flex-row px-12 justify-between">
    <article class="flex flex-col text-lg mt-4 items-center">
        <h2 class="font-[quicksand] uppercase text-4xl text-main-brown mb-4">Nuestra carta</h2>
        <p class="text-justify mb-3">Aquí tienes una muestra de nuestro catálogo</a> (María Remedios)</p>
        <p class="text-justify mb-3">Visítanos a menudo, tenemos más tartas saliendo del horno que iremos incluyendo en esta web</p>
        <div class="mx-auto">
            <AnchorButton href="/products">Ver todos los productos</AnchorButton>
        </div>
    </article>
</section>