---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import MobileMenu from "@/components/MobileMenu.astro";
import MobileHeader from "@/components/MobileHeader.astro";
import ContactForm from "@/components/ContactForm.astro";
---

<Layout title="Dulces Remedios" description="Contacta con nosotros">
    <main>
        <Navbar />
        <MobileHeader />

        
    </main>
    <Footer />
    <MobileMenu />
</Layout>
